body {
	
}
.controls img{
	cursor:pointer;
	position: absolute;
}

.controls span{
	left:15%;
	margin:0 15% 0 0;
	position: relative;
    display: inline-block;   
}
.playerDiv{
	background-color:black;
	color:white;
	margin:2% 0 1% 0;
	padding: 2% 2% 2% 2%;
}
.seekbar label {
	display: inline-block;
	text-align: right;
	vertical-align:middle;
	padding:0;
	margin:0;
}
input[type="range"] {
  -webkit-appearance: none;
  background: aqua;
  background-position: center;
  background-repeat: no-repeat;
  margin:10px;
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #009900;
  position: relative;
  border: 3px solid aquamarine;
  z-index: 3;
  cursor: pointer;
}

#volume {
	height: 2px;
}
.cSong {
	position:absolute;
	float:left;
}
.cSong img{
	cursor:pointer;
}
.volume {
	float:right;
}
.volume img{
	height:35px;
	width:35px;
}
#box {
    height:auto;
    background:#000;
    color:black;
    cursor:pointer;
}
.hidden {
    width:0px;
       -webkit-transition:width, 0.5s linear;
    -moz-transition: width, 0.5s linear;
    -ms-transition: width, 0.5s linear;
    -o-transition: width, 0.5s linear;
    transition: width, 0.5s linear;
}
.open {
	width:200px;
     -webkit-transition:width, 0.5s linear;
    -moz-transition: width, 0.5s linear;
    -ms-transition: width, 0.5s linear;
    -o-transition: width, 0.5s linear;
    transition: width, 0.5s linear;
    }