<!DOCTYPE html>
<html>
    <head>
        <title>
            Just Play
        </title>
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="js/app.js"></script>
		<link rel="stylesheet" href="css/style.css" />
    </head>
<body ng-app=myAudioApp>
    <div ng-controller="mainCtrlr" class="container">
		<div class="row playerDiv">
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
				<audio id="mainAudio">
					HTML5 audio not supported
				</audio>
			</div>
			<br>
			<div class="controls">
			<span>
			<img src="images/control_repeat.png" ng-click="restartAudio();" onmouseover="this.src='images/control_repeat_hover.png'" onmouseout="this.src='images/control_repeat.png'" />
			</span><span>
			<img src="images/control_start.png" ng-click="prevAudio();" onmouseover="this.src='images/control_start_hover.png'" onmouseout="this.src='images/control_start.png'" />
			</span><span>
			<img src="images/control_play.png" id="play"  ng-click="playAudio()" ng-if=!audioPlayingFlag onmouseover="this.src='images/control_play_hover.png'" onmouseout="this.src='images/control_play.png'" />
			<img src="images/control_pause.png"  id="pause" ng-click="pauseAudio()" ng-if=audioPlayingFlag onmouseover="this.src='images/control_pause_hover.png'" onmouseout="this.src='images/control_pause.png'" />
			</span><span>
			<img src="images/control_end.png" ng-click="nextAudio();" onmouseover="this.src='images/control_end_hover.png'" onmouseout="this.src='images/control_end.png'" />
			</span><span>
			<img src="images/control_restart.png" ng-click="shuffle();" onmouseover="this.src='images/control_restart_hover.png'" onmouseout="this.src='images/control_restart.png'" />
			</span>
			</div>
			<br><br><br>
			<div class="seekbar">
				<label id="lblTime" for="audioSeekbar">-:--:--</label>
				<input type="range" name="audioSeekbar" step="any" id="audioSeekbar" onchange="ChangeTheTime()" value="0"></input>
				<label id="lblTimeLength" for="audioSeekbar">-:--:--</label>
			</div>
			<br>
			<div>
				<span class="cSong">
					<span ng-if='currentSong' class="currentSong">
						{{currentSong.title}} by {{currentSong.artist}}
					</span>
					<br>
					<form id="box">
						<input type="text" class="hidden" id="fileInput"/>
						<img src="images/add.png" id="cSongImg"/>
					</form>
				</span>
				<span class="volume">
					<img src="images/volume.png"><input type="range" min="0" max="1" step="0.1" id="volume" onchange="ChangeVolume()">
				</span>
			</div>
		</div>
		<br><br>
        <div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
				<table class="table table-inverse">
				<thead>
					<tr>
					  <th>#</th>
					  <th>Song Name</th>
					  <th>Artist</th>
					  <th>Length</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='song in songsList'>
						<td>{{$index + 1}}</td>
						<td>
							<a ng-click="loadAudio(song)">{{song.title}}</a>
						</td>
						<td>
							<a ng-click="loadAudio(song)">{{song.artist}}</a>
						</td>
						<td>
							<a ng-click="loadAudio(song)">{{song.length}}</a>
						</td>
					</tr>
				</tbody>
				</table>
			</div>
        </div>
    </div>
</body>
</html>