body{
	overflow: hidden;
}
#player{
	float: left;
	display: inline-block;
	height: 100%;
	width: 50%;
}
#playlist{
	height: 450px;
	float: right;
	display: inline-block;
	border: solid;
	width: 47%;
	overflow-y: scroll;
}
#playlist table{
	table-layout: fixed;
	width: 100%;
	font-size: 11px;
}
#playlist table td{
	width: 150px;
}
.cSong{
	background-color: cyan;
}
.art{
	height: 280px;
	width:100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding: 0;
  position: relative;
}
.cSong{
	position: absolute;
	width: 100%;
	bottom: 0;
    background-color: rgba(0,0,0,0.8);
	color: white;
}
#audioSeekbar{
	width: 100%;
	border:solid;
}
.controls{
	height: 15%;
	background-color: white;
	margin-left: 10%;
}
.controls span{
	display:inline-block;
	margin-left: 2%;
}
.controls span:hover{
	cursor: pointer;
}
/* For vertical volume slider uncomment this*/
/*.volume	input[type=range][orient=vertical]{
    writing-mode: bt-lr; /* IE */
/*    -webkit-appearance: slider-vertical; /* WebKit */
/*    width: 8px;
    height: 100px;
    padding: 0 5px;
}*/
.labnVol span{
	float: right;
	cursor: pointer;
}
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .seekbar input[type='range'] {
      overflow: hidden;
      -webkit-appearance: none;
      margin-top: -1px;
      background-color: white;
    }

    .seekbar input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
      cursor: pointer;
    }

    .seekbar input[type='range']::-webkit-slider-thumb {
      width: 1px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #434343;
      box-shadow: -300px 0 0 300px #43e5f7;
    }

}
/** FF*/
.seekbar input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}
.seekbar input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}
/* IE*/
.seekbar input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}
.seekbar input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}
